.bounded{
    background-color: #000000;
}
h1,table,th,td{
    color: white;
}
.table-box{
    margin-top: 1rem;;
    border: 1px solid white;
    border-radius: 0.5rem;
}
@media (max-width: 554px) {
    .submission-form {
      flex-direction: column;
      width: 70vw;     
    }
  }
  .custom-bg-color {
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      315deg,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      315deg,
      #243b55,
      #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }