@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    background-color: #CBE4DE;
    color: black;
}
.btn[disabled] {
    background:  #cbe4de87;
    color: white;
    cursor: not-allowed;
  }

.btn-accept{
    background-color: rgb(0, 165, 0);
    color: white;
}
.btn-reject{
    background-color: rgb(172, 1, 1);
    color: white;
}