.bounded{
    background-color: #000000;
}
h1,table,th,td{
    color: white;
}
.table-box{
    margin-top: 1rem;;
    border: 1px solid white;
    border-radius: 0.5rem;
}
@media (max-width: 554px) {
    .submission-form {
      flex-direction: column;
      width: 70vw;     
    }
  }